*.egg-info
*.py[cod]
*.tar
*.sif
*tar.gz
/results
/data
/wandb
/docker_images/
/docker_context/model
/docker_submission/data
/docker_submission/outputs
/singularity_submission/inputs
__pycache__
config.yaml
cufile.log
/lightning_logs