*.egg-info
*.py[cod]
*.tar
*.sif
*.pth
*tar.gz
/results
/data
/wandb

/docker/images/

/docker/contexts/05_05
/docker/contexts/29_05

/docker/contexts/*/model

/docker/submission/data
/docker/submission/dist_linux
/docker/submission/outputs
/docker/submission/inputs
/docker/submission/test/outputs
/docker/submission/test/inputs
/docker/submission/wandb

/docs

__pycache__
config.yaml
cufile.log
/lightning_logs
